titulo{
    background-color: blue;
    text-align: center;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    padding: 2% 0 2%;
}

.logo{
    float: right;
    margin: 2% 35% 10% 35%;
    width: 30%;

}

main{
    box-shadow: 0 0  10px #292929;
    border-radius: 30px;
    width: 70%;
    margin: 70px auto;
    background-color:rgb(212, 212, 212);
    padding: 50px;
    height: 60%;
}

body{
    background-image: url(../images/fondo.jpg);
}