* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
    background-color: #9BA8B2;
}

header {
    text-align: center;
    align-items: center;
}

img {
    border-radius: 10px;
}
